:root {
    --color-background: #242424;
    --color-background-light: #636363;
    --color-red: #ff5959;
    --color-orange: #ff9f59;
    --color-yellow: #ffd459;
    --color-green: #59ff59;
    --color-lightblue: #59bfff;
    --color-blue: #5959ff;
}

body {
    background-color: var(--color-background);
    padding: 0 10% 10%;
}

p, h1, h2, h3, h4, h5, h6 {
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

.heading {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    text-align: center;
}

.category-title {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.voter-bar {
    --data-width: 0%;
    --data-width-to: 50%;
    height: 7px;
    width: 100%;
    background-color: var(--color-background-light);
    border-radius: 10px;
    margin-bottom: 1rem;
}

.voter-bar:before {
    height: 7px;
    width: var(--data-width);
    border-radius: 10px 0 0 10px;
    margin-bottom: 1rem;
    content: '';
    display: inline-block;
}

.voter-bar:after {
    position: absolute;
    padding-top: 10px;
    content: attr(data-content);
    display: inline-block;
    color: white;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.before-color-red:before {
    background-color: var(--color-red);
}

.before-color-orange:before {
    background-color: var(--color-orange);
}

.before-color-yellow:before {
    background-color: var(--color-yellow);
}

.before-color-green:before {
    background-color: var(--color-green);
}

.before-color-lightblue:before {
    background-color: var(--color-lightblue);
}

.before-color-blue:before {
    background: var(--color-blue);
}

.color-red {
    background-color: var(--color-red);
}

.color-orange {
    background-color: var(--color-orange);
}

.color-yellow {
    background-color: var(--color-yellow);
}

.color-green {
    background-color: var(--color-green);
}

.color-lightblue {
    background-color: var(--color-lightblue);
}

.color-blue {
    background: var(--color-blue);
}

.summary-bar-start {
    border-radius: 10px 0 0 10px;
}

.summary-bar {
    --data-width: 16.485%;
    height: 7px;
    width: calc(var(--data-width) - 3px);
    margin-bottom: 1rem;
    margin-left: 2px;
    float: left;
    padding: 0;
}

.summary-bar-end {
    border-radius: 0 10px 10px 0;
}

.summary-category-title {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
    text-align: center;
}