:root {
    --color-background: #242424;
    --color-background-light: #636363;
}

body {
    background-color: var(--color-background);
}

p, h1, h2, h3, h4, h5, h6 {
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

.heading {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    text-align: center;
}

.category-title {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.voter-bar {
    --data-width: 0%;
    --data-width-to: 50%;
    height: 7px;
    width: 100%;
    background-color: var(--color-background-light);
    border-radius: 10px;
    margin-bottom: 1rem;
}

.voter-bar:before {
    height: 7px;
    width: var(--data-width);
    border-radius: 10px 0 0 10px;
    margin-bottom: 1rem;
    content: '';
    display: inline-block;
}

.voter-bar:after {
    content: attr(data-content);
    display: inline-block;
    color: white;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.color-red:before {
    background-color: #ff5959;
}

.color-orange:before {
    background-color: #ff9f59;
}

.color-yellow:before {
    background-color: #ffd459;
}

.color-green:before {
    background-color: #59ff59;
}

.color-lightblue:before {
    background-color: #59bfff;
}

.color-blue:before {
    background: #5959ff;
}